#login{
    background-color: #8b5adc;
}

#top_bar, #bottom_bar{
    background-color: #37009C;
}
#top_bar div{
    background: linear-gradient(to right, #340399, rgba(255, 255, 255, 0.85) 25%, rgba(0,0,0,0));
}
#bottom_bar{
    background: linear-gradient(to right, #8934AE, #37009C);
}
#bottom_bar div{
    background: linear-gradient(to right, #340399, #D9F638 25%, rgba(0,0,0,0));
}

#card_login{
    background: linear-gradient(to right, #4A00A9 0% 30%, #8b5adc);
}

#readme_block{
    color: #444444;
}

#content{
    background: rgb(214,191,236);
background: linear-gradient(0deg, rgba(214,191,236,1) 0%, rgba(127,73,170,1) 31%, rgba(84,11,141,1) 69%, rgba(121,29,205,1) 84%, rgba(187,144,238,1) 100%);
}

/*CHATBAR*/
#chatbar_cont{
    background: rgb(213,189,255);
    background: linear-gradient(0deg, rgba(213,189,255,0.9348437705736482) 4%, rgba(163,100,225,0.9460797256298279) 18%, rgba(108,3,192,0.7887763548433111) 42%, rgba(122,64,196,0.9404617481017381) 49%, rgba(224,215,255,0.794394332371401) 100%);
}

#chatbar{
    position: absolute;
    top: 3px;
    font-size: 15px;
}
#tile{
    background-image: url(/img/tile.png), linear-gradient(to right, #5e4899 7%, rgba(0,0,0,0) 12% 88%), linear-gradient(to bottom, #5e4899 7%, rgba(0,0,0,0) 12% 88%, #5e4899 93% 100%);
    background-color: #452E81;
}



#log_cont, .msWindow_cont{
    border: 1px solid #103075;
    backdrop-filter: blur(2px);
    background: rgb(213,189,255);
background: linear-gradient(113deg, rgba(213,189,255,0.6529678173279494) 4%, rgba(163,100,225,0.7344284914852528) 11%, rgba(196,144,245,0.7400464690133427) 24%, rgba(156,101,219,0.8327430982268258) 34%, rgba(138,81,210,0.7540914128335674) 44%, rgba(132,74,206,0.8074621993504214) 60%, rgba(163,105,235,0.6024060195751404) 70%, rgba(122,64,196,0.872068940923455) 82%, rgba(224,215,255,0.6080239971032304) 100%);
}

